################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TinyOPS/Document/2020各版本文档/技术文档/Tiny_V1.0.0.0_V0.1.pdb
