<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configurations>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configurations>
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\Tiny.OPS.Web\"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd/'error'yyyyMMdd'.txt'" />
      <appendToFile value="true"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--------------------------------------------------%newline %d [%t] %-5p %c ---%m%n" />
      </layout>
    </appender>
    <!--信息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file  value="\Tiny.OPS.Web\"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd/'info'yyyyMMdd'.txt'" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--------------------------------------------------%newline %d [%t] %-5p %c ---%m%n" />
      </layout>
    </appender>
    <!--Debug日志配置-->
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file  value="\Tiny.OPS.Web\"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd/'debug'yyyyMMdd'.txt'" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--------------------------------------------------%newline %d [%t] %-5p %c ---%m%n" />
      </layout>
    </appender>
    <!--Warn日志配置-->
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <file  value="\Tiny.OPS.Web\"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd/'warn'yyyyMMdd'.txt'" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="--------------------------------------------------%newline %d [%t] %-5p %c ---%m%n" />
      </layout>
    </appender>
    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="debuginfo">
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <logger name="warninfo">
      <level value="WARN" />
      <appender-ref ref="WarnAppender" />
    </logger>
    <root>
      <level value="ALL" />
    </root>
  </log4net>
</configuration>